# Entorno virtual
venv/
env/
env-todo/
.venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Flask
instance/
.webassets-cache
.flask_session/

# Base de datos
*.db
*.sqlite
*.sqlite3

# Variables de entorno
.env
.flaskenv

# IDEs
.vscode/
.idea/
*.swp
*.swo
*.swn

# Sistema operativo
.DS_Store
Thumbs.db
.directory

# Logs
*.log

# Migrations (opcional, algunos prefieren subirlas)
# migrations


